@tailwind base;
@tailwind components;
@tailwind utilities;


.container_ {
    @apply px-40;
}

body {
    background-color: aliceblue;
}

.texto-recortado {
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    overflow: hidden; /* Oculta el texto que se desborda del contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para indicar que el texto ha sido truncado */
    max-width: 70ch; /* Establece el ancho máximo del texto a 70 caracteres */
}