@tailwind base;
@tailwind components;
@tailwind utilities;


.container_ {
    @apply px-40;
}

.input_post {
    @apply appearance-none rounded w-full py-2 px-3 bg-transparent text-gray-900 focus:outline-none
}

body {
    background-color: #FBFFFF;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #ccc;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 30px;
}

.cropped-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70ch;
}